html {
  scroll-behavior: smooth;
}

.hero .hide {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hero button:hover .hide {
  opacity: 0;
  visibility: hidden;
}

.hero .show {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hero button:hover .show {
  opacity: 1;
  visibility: visible;
}

.hero {
  background-image: url(./img/banner-background-one.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.hero-img {
  margin-top: -70px;
  margin-bottom: 0px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-8%);
  }
  50% {
    transform: none;
  }
}
.up-down {
  animation: bounce 6s infinite;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

.service {
  border: 2px solid #141414;
  transition: border-color 1s;
}

.service:hover {
  border-color: red;
}

/*****/
.experience {
  background-image: url(./img/jahid-book.jpg);
  opacity: 60%;
  background-position: center;
  background-size: cover;
  height: 370px;
  width: 100%;
}
/*****/

.contact-main {
  justify-content: center !important;
  align-items: center !important;
}

.contact {
  justify-content: end !important;
  text-align: center;
}
.contact input {
  background: none;
  width: 260px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}

.contact textarea {
  background: none;
  width: 545px;
  height: 150px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}
